{% extends '_base.html' %}

{% block title %}
Voter List
{% endblock %}

{% block content %}
    <div class="container">
        <h1>Voters</h1>

        {% for voter in voter_list %}
            <p><a href="{% url 'voter-detail' voter.pk %}">{{ voter.person }}</a></p>
        {% endfor %}

        <div class="pagination">

    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
        </div>
    </div>
{% endblock %}