{% extends '_base.html' %}

{% load leaflet_tags %}

{% block head %}
    {% leaflet_js %}
    {% leaflet_css %}

    <style type="text/css">
        .leaflet-container {
            height: 100vh;
        }
    </style>

    <script type="text/javascript">
        var dataurl = '{% url "places-data" %}';

        window.addEventListener("map:init", function (event) {
        var map = event.detail.map;
        // Download GeoJSON data with Ajax
        fetch(dataurl)
          .then(function(resp) {
            return resp.json();
          })
          .then(function(data) {
            L.geoJson(data
              ).addTo(map);
          });
      });
    </script>
{% endblock %}

{% block content %}
    {% leaflet_map "main" %}
{% endblock %}