{% extends '_base.html' %}

{% load leaflet_tags %}

{% block head %}
    {% leaflet_js %}
    {% leaflet_css %}

    <style type="text/css">
        #placemap {
            height: 500px;
            width: 500px;
        }
    </style>
{% endblock %}

{% block content %}
    <p> {{ object }}</p>
    <a href="{% url 'geocode-place' object.pk %}" class="btn btn-primary m-3" role="button">Geocode</a>

    {% leaflet_map "placemap" callback="window.map_init_basic" %}

    <div>
    <ul>
    {% for peep in object.person_set.all %}
        <li>{{ peep.first_name }}</li>
    
    {% endfor %}
    
    </ul>
    </div>

    <script type="text/javascript">
        function map_init_basic (map, options) {
            var place_marker = L.marker([{{ object.point.y}}, {{object.point.x}}]);
            place_marker.addTo(map);
            map.setView(new L.LatLng({{ object.point.y }}, {{ object.point.x }}), 12);
        }
    </script>
{% endblock %}